<include file="Public/_meta" />
<!--_meta 作为公共模版分离出去-->
<body>
<!--_header 作为公共模版分离出去-->
<include file="Public/_header" />
<!--/_header 作为公共模版分离出去-->
<!--_menu 作为公共模版分离出去-->
<include file="Public/_menu" />
<!--/_menu 作为公共模版分离出去-->
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 基本设置 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<form action="" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
				<div id="tab-system" class="HuiTab">
					<div class="tabBar cl"><span>基本设置</span></div>
					<div class="tabCon">
						<div class="row cl">
						<input type="hidden" name="id" value="{$system.id}">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网站名称：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" id="website-title" name="name" placeholder="控制在25个字、50个字节以内" value="{$system.name}" class="input-text">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网站标题：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" id="website-title" name="title" placeholder="控制在25个字、50个字节以内" value="{$system.title}" class="input-text">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关键词：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" id="website-Keywords" name="guanjianci" placeholder="5个左右,8汉字以内,用英文,隔开" value="{$system.guanjianci}" class="input-text">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>描述：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" id="website-description" name="miaoshu" placeholder="空制在80个汉字，160个字符以内" value="{$system.miaoshu}" class="input-text">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>logo：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="file" id="website-static" name="logo" placeholder="默认为空，为相对路径" value="{$system.logo}" class="input-text">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>版权信息：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" id="website-copyright" name="banquan" placeholder="&copy; 2014 H-ui.net" value="{$system.banquan}" class="input-text">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">备案号：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" id="website-icp" name="beianhao" placeholder="京ICP备00000000号" value="{$system.beianhao}" class="input-text">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">电话：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text"  name="tel" placeholder="电话号码" value="{$system.tel}" class="input-text">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">QQ：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text"  name="qq" placeholder="qq号码" value="{$system.qq}" class="input-text">
							</div>
						</div>
					</div>
				
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
						<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
					</div>
				</div>
			</form>
		</article>
	</div>
</section>

<include file="Public/_footer" />
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click","0");
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>