/*云谱首页*/
*{margin:0;padding:0;}
.cl{clear:both;}
a{text-decoration:none;}
a:active{text-decoration:none;}

ul,ol li{list-style: none;}

/*头部部分*/
.header{height:50px;line-height: 50px;width:100%;background:#2196f3;position: fixed;z-index: 9;}
.header .logo{width:300px;float:left;margin-left: 50px;}
.header .information{min-width:450px;float:right;/*background:red;*/height:100%;}
.header .information ul li{color:#fff;padding-left:10px;position:relative;cursor:pointer;padding-right:10px;min-width:80px;float:left;font-size:14px;margin-left: 10px;margin-right: 10px;}
.header .information ul li .tuichuss{width:210px;position:absolute;top:50px;height:50px;background:#f9f9f9;right:0;display:none;}
.header .information ul li .tuichuss a{display: inline-block;margin-top:5px;line-height:40px;text-align:center;float:left;width:90px;height:40px;background:#f4f4f4;margin-left: 10px;border:1px solid #ddd;color:#333;}
.header .information ul li .tuichuss a:hover{color:#666666;background:#e7e7e7;}
.header .information ul li a{color:#fff;font-size:14px;width:100%;text-decoration:none;}
.header .information ul li a:hover{text-decoration: none;}
.header .information ul li a:active{text-decoration: none;}
.header .information ul li:hover{background:#0088f4;}
.header .information ul li:hover a{text-decoration: none;}

/*左边部分*/
.ypleft{width:14%;min-height:1000px;background:#f5f5f5;border-right:1px solid #ccc;float:left;}
.ypleft ul li{width:100%;text-align: left;line-height: 40px;height:40px;background:#e7e7e7;cursor:pointer;color:#000;font-size:14px;font-family: '微软雅黑';}
.ypleft ul li i{display: inline-block;margin-right: 10px;margin-left: 20px;color:#000;}
.ypleft ul li span{text-align: right;display: inline-block;float:right;margin-top: 12px;margin-right: 20px;color:#000;}

/*云埔首页*/
.yprightindex{width:96%;margin:20px auto;min-height: 300px;}
.yprightindex .ypheader ul li{float:left;margin-right: 20px;position:relative;}
.yprightindex .ypheader ul li .noset{width:100%;height:97%;position:absolute;background:rgba(0,0,0,.6);border-radius:4px;}
.yprightindex .ypheader ul li .noset p{padding:20px;color:#fff;}

.yprightindex .ypmain{width:100%;margin:20px auto;}
.yprightindex .ypmain img{width:100%;}

.ypindexfooter{height:80px;background:#fff;width:100%;line-height:40px;padding-left: 20px;margin-bottom: 10px;position:absolute;bottom:0;}


/*右边部分*/
.ypright{width:98%;margin:20px auto;background:#fff;border:1px solid #ccc;}
.ypright .ypheader {border-bottom: 1px solid #ccc;background:#f8f8f8;display:inline-block;width:100%;height:100%;}
.ypright .ypheader h4{font-size:14px;}
.ypright .ypheader h4 i{display: inline-block;margin-right:8px;margin-left:20px;}

/*表单部分*/
.ypright .ypmain .ypmain1{width:96%;margin:20px auto;border:1px solid #ccc;min-height: 200px;}
.ypright .ypmain .ypmain1 table tr td{border:1px solid #ccc;min-height:40px;line-height: 40px;border-top: none;position:relative;}
.ypright .ypmain .ypmain1 table tr td input{border:none;outline: none;width:95%;padding-right:10px;position:relative;}
.ypright .ypmain .ypmain1 table tr td .wangzhi{float:left;border:1px solid #ccc;padding-right:30px;padding-left:10px;height:30px;margin-bottom:8px;margin-top:8px;margin-left:10px;line-height: 30px;width:240px;}
.ypright .ypmain .ypmain1 table tr td .danjitianjia{cursor:pointer;height:30px;padding-left:10px;margin-bottom:10px;padding-right:10px;float:left;position:relative;line-height: 30px;margin-top:8px;margin-left: 20px;background:#f22e00;outline:none;border-radius:4px;border:1px solid #ccc;color:#fff;font-family:'微软雅黑';min-width:80px;}
.ypright .ypmain .ypmain1 table tr td .danjitianjia:hover{text-decoration: none;}
.wangzhia {height: 40px;float: left;position: relative;}
.wangzhia img{position:absolute;right:10px;top:15px;cursor:pointer;}

/*新闻部分*/
.ypright .ypmain .ypmain1 table tr td .ypnewsmain li{width:50%;float:left;line-height: 30px;}
.ypright .ypmain .ypmain1 table tr td .ypnewsmain li .xiugai{cursor:pointer;display: inline-block;margin-left: 20px;margin-right: 10px;}
.ypright .ypmain .ypmain1 table tr td .ypnewsmain li .xiugai:hover{color:#2196f3;}
.ypright .ypmain .ypmain1 table tr td .ypnewsmain li .shanchu:hover{color:#f22e00;cursor:pointer;}
.ypright .ypmain .ypmain1 table tr .filelogo img{float:left;display: inline-block;height:60px;margin-top: 10px;margin-bottom: 10px;}
.ypright .ypmain .ypmain1 table tr .filelogo input{width:80px;}		
	#shangchuang{position:absolute;width:90px;left:0;top:0;height:30px;opacity:0;}

.ypright .ypmain .ypmain1 table tr td .danjishangchuang{height:30px;padding-left:10px;padding-right:10px;float:left;position:relative;line-height: 30px;margin-top:26px;margin-left: 20px;background:#f22e00;outline:none;border-radius:4px;border:1px solid #ccc;color:#fff;font-family:'微软雅黑';min-width:80px;}
.ypright .ypmain .country{min-width: 120px;height:30px;}
.ypright .ypmain .ypmain1 .ypcity{width:350px;padding-left:10px;padding-right:10px;border:1px solid #ccc;height:30px;margin-top: 8px;margin-left: 20px;line-height: 30px;}
.ypright .ypmain .ypmain1 .ypselect select{float:left;margin-top: 8px;margin-left: 20px;}
.ypright .ypmain .ypmain1 table tr td .danjitianjias{margin-bottom:10px;margin-top:10px;height:30px;padding-left:10px;padding-right:10px;float:left;position:relative;line-height: 30px;margin-top:10px;margin-left: 20px;background:#f22e00;outline:none;border-radius:4px;border:1px solid #ccc;color:#fff;font-family:'微软雅黑';min-width:80px;}
.ypright .ypmain .ypmain1 table tr td .danjitianjias:hover{text-decoration: none;}
.ypright .ypmain .ypmain1 table tr td .danjishangchuans{cursor:default;margin-bottom:10px;height:30px;padding-left:10px;padding-right:10px;float:left;position:relative;line-height: 30px;margin-top:10px;margin-left: 20px;background:#f22e00;outline:none;border-radius:4px;border:1px solid #ccc;color:#fff;font-family:'微软雅黑';min-width:80px;}
	#shangchuangs{position:absolute;width:90px;left:20px;top:0;height:40px;z-index: 9;opacity:0;}
}

/*富文本框部分*/
.ypright .ypmain .ypmain2{margin-top: 20px;}
.ypright .ypmain .ypmain2 .ypmaina{border-bottom:1px solid #ccc;margin-bottom: 20px;}
.ypright .ypmain .ypmain2 .ypmainam{width:96%;margin:0 auto;}
.ypright .ypmain .ypmain2 .ypmainam h4{text-align: center;}
.ypright .ypmain .ypmain2 .ypmainam .ypfutext{width:100%;height:450px;margin-bottom: 30px;}
.ypright .ypmain .ypmain2 .ypmainb{margin-bottom: 20px;}

.ypright .ypmain .ypmain2 .ypsubmit{margin:20px auto;height:100px;width:100%;text-align: center;}
.ypright .ypmain .ypmain2 .ypsubmit button{margin:0 auto;text-align: center;width:100px;height:30px;line-height: 30px;border-radius: 4px;outline: none;border:none;}
.ypright .ypmain .ypmain2 .ypsubmit .tijiao{background:#3c8dbc;color:#fff;margin-right: 10px;}
.ypright .ypmain .ypmain2 .ypsubmit .yulan{background:#fff;border:1px solid #ccc;margin-left: 10px;color:#999999;}
.ypright .ypmain .ypmain2 .ypsubmit .tijiao:hover{background:#248ac5;}

/*底部部分*/
.tpfooter{background:#fff;width:100%;line-height:40px;padding-left: 20px;color:#000;}
.tpfooter p{margin:0;padding:0;}
/*增加新闻*/
.ypnews{width:100%;height:100%;background:rgba(0,0,0,.7);position:fixed;top:0;z-index: 10;display:none;}
.ypnews .yptianjia{width:580px;height:400px;margin:100px auto;background:#f1f1f1;border:1px solid #ccc;}
.ypnews .yptianjia .yptjheader{width:100%;height:40px;line-height:40px;background:#f7f7f7;border-bottom: 1px solid #ccc;}
.ypnews .yptianjia .yptjheader span{padding-left: 20px;}
.ypnews .yptianjia .yptjheader a{display:inline-block;text-decoration:none;text-align:center;float:right;font-size:18px;color:#333;height:100%;width:50px;}
.ypnews .yptianjia .yptjheader a:hover{text-decoration: none;}

.ypnews .yptianjia .yptjmain{width:50%;margin:80px auto;min-height: 200px;}
.ypnews .yptianjia .yptjmain input{width:240px;height:30px;outline:none;line-height: 30px;padding-left: 10px;padding-right: 10px;}

.ypnews .yptianjia .yptjmain  a{display: inline-block;text-decoration:none;border-radius:2px;margin-top:60px;text-align:center;width:100px;margin-left: 30px;height:30px;line-height: 30px;}
.ypnews .yptianjia .yptjmain  a:hover{text-decoration: none;}
.ypnews .yptianjia .yptjmain  a:active{text-decoration: none;}
.ypnews .yptianjia .yptjmain .nesbaocui{background:#3c8dbc;color:#fff; }
.ypnews .yptianjia .yptjmain .nesquxiao{border:1px solid #ccc;background:#fff;color:#999;}
			.laiyuan{color:#999;}		

.xiugaissa{width:100%;height:100%;background:rgba(0,0,0,.7);position:fixed;top:0;z-index: 10;display:none;}
.xiugaissa .yptianjia{width:580px;height:400px;margin:100px auto;background:#f1f1f1;border:1px solid #ccc;}
.xiugaissa .yptianjia .yptjheader{width:100%;height:40px;line-height:40px;background:#f7f7f7;border-bottom: 1px solid #ccc;}
.xiugaissa .yptianjia .yptjheader span{padding-left: 20px;}
.xiugaissa .yptianjia .yptjheader a{display:inline-block;text-decoration:none;text-align:center;float:right;font-size:18px;color:#333;height:100%;width:50px;}
.xiugaissa .yptianjia .yptjheader a:hover{text-decoration: none;}

.xiugaissa .yptianjia .yptjmain{width:50%;margin:80px auto;min-height: 200px;}
.xiugaissa .yptianjia .yptjmain input{width:240px;height:30px;outline:none;line-height: 30px;padding-left: 10px;padding-right: 10px;}

.xiugaissa .yptianjia .yptjmain  a{display: inline-block;text-decoration:none;border-radius:2px;margin-top:60px;text-align:center;width:100px;margin-left: 20px;height:30px;line-height: 30px;}
.xiugaissa .yptianjia .yptjmain  a:hover{text-decoration: none;}
.xiugaissa .yptianjia .yptjmain  a:active{text-decoration: none;}
.xiugaissa .yptianjia .yptjmain .nesbaocui{background:#3c8dbc;color:#fff; }
.xiugaissa .yptianjia .yptjmain .nesquxiao{border:1px solid #ccc;background:#fff;color:#999;}
			.laiyuan{color:#999;}			



/*增加照片*/
.ypmain .ypmain1 .ypphoto{width:180px;height:150px;margin-top:10px;float:left;position:relative;margin-right: 20px;}
.ypmain .ypmain1 .ypphoto .ypphoinput{width:100%;text-align: center;position:relative;z-index:2;height:30px;background:#2196f3;border:1px solid #ccc;line-height: 30px;overflow:hidden;}
.ypmain .ypmain1 .ypphoto .ypphoinput input{text-align: center;height:30px;padding-right:40px;background:#2196f3;line-height: 30px;}
.ypmain .ypmain1 .ypphoto img{width:180px;height:120px;}
.ypmain .ypmain1 .ypphoto .title_length{position:absolute;right:0;bottom:0;width:45px;color:#999999;overflow:hidden;text-align: center;}

/*删除图片*/
.ypmain .ypmain1 .ypphoto .shanchuss{display:none;position:absolute;right:0;color:#999;text-align:center;line-height:15px;width:16px;height:16px;border:1px solid #ccc;background:#fff;cursor:pointer;}

/*照片上传*/
.ypaddphoto{width:100%;height:100%;background:rgba(0,0,0,.7);position:fixed;top:0;z-index: 10;}
.ypaddphoto .yptianjia{width:580px;height:400px;margin:100px auto;background:#f1f1f1;border:1px solid #ccc;}
.ypaddphoto .yptianjia .yptjheader{width:100%;height:40px;line-height:40px;background:#f7f7f7;border-bottom: 1px solid #ccc;}
.ypaddphoto .yptianjia .yptjheader span{padding-left: 20px;}
.ypaddphoto .yptianjia .yptjheader a{display:inline-block;text-decoration:none;text-align:center;float:right;font-size:18px;color:#333;height:100%;width:50px;}
.ypaddphoto .yptianjia .yptjheader a:hover{text-decoration: none;}

.ypaddphoto .yptianjia .yptjmain{width:50%;margin:80px auto;line-height:100px;min-height: 200px;text-align: center;position:relative;}
/*.ypaddphoto .yptianjia .yptjmain input{width:240px;height:30px;outline:none;line-height: 30px;padding-left: 10px;padding-right: 10px;}
*/
.ypaddphoto .yptianjia .yptjmain  a{display: inline-block;text-decoration:none;border-radius:2px;margin-top:60px;text-align:center;width:100px;margin-left: 30px;height:30px;line-height: 30px;}
.ypaddphoto .yptianjia .yptjmain  a:hover{text-decoration: none;}
.ypaddphoto .yptianjia .yptjmain  a:active{text-decoration: none;}
.ypaddphoto .yptianjia .yptjmain .nesbaocui{background:#3c8dbc;color:#fff; }
.ypaddphoto .yptianjia .yptjmain .nesquxiao{border:1px solid #ccc;background:#fff;color:#999;}
			.laiyuan{color:#999;}		

#flies{position:absolute;opacity:0;width:200px;height:50px;left:45px;top:13px;}
/*照片上传*/
.ypaddphotook{width:100%;height:100%;background:rgba(0,0,0,.7);position:fixed;top:0;z-index: 10;}
.ypaddphotook .yptianjia{width:820px;min-height:400px;margin:100px auto;background:#f1f1f1;border:1px solid #ccc;}
.ypaddphotook .yptianjia .yptjheader{width:100%;height:40px;line-height:40px;background:#f7f7f7;border-bottom: 1px solid #ccc;}
.ypaddphotook .yptianjia .yptjheader span{padding-left: 20px;}
.ypaddphotook .yptianjia .yptjheader a{display:inline-block;text-decoration:none;text-align:center;float:right;font-size:18px;color:#333;height:100%;width:50px;}
.ypaddphotook .yptianjia .yptjheader a:hover{text-decoration: none;}

.ypaddphotook .yptianjia .ypaddphotookmain{width:100%;text-align: center;}
.ypaddphotook .yptianjia .ypaddphotookmain ul li{width:120px;height:124px;overflow:hidden;position:relative;float:left;margin-left:10px;margin-top: 10px;border:1px solid #ccc;}
.ypaddphotook .yptianjia .ypaddphotookmain ul li img{width:auto;height:100px;}
.ypaddphotook .yptianjia .ypaddphotookmain ul li input{width:100%;padding-left: 10px;background:none;border:none;outline:none;padding-right: 10px;display: -webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;}
.ypaddphotook .yptianjia .ypaddphotookmain ul li input:focus{border:1px solid blue;}
.ypaddphotook .yptianjia .ypaddphotookmain ul li input:blur{border:none;}
.ypaddphotook .yptianjia .ypaddphotookmain ul li span{display:none;width:100%;color:#fff;text-align:right;line-height:26px;padding-right:10px;height:26px;background:rgba(0,0,0,.5);position:absolute;bottom: 22px;}
.ypaddphotook .yptianjia .ypaddphotookmain ul li span i{cursor:pointer;}
.ypaddphotook .yptianjia .ypaddphotookmain ul li:hover span{display:block;}
.ypaddphotook .yptianjia .ypaddphotookmain  a{display: inline-block;text-decoration:none;border-radius:2px;margin-top:60px;text-align:center;width:100px;margin-left: 30px;height:30px;line-height: 30px;}
.ypaddphotook .yptianjia .ypaddphotookmain  a:hover{text-decoration: none;}
.ypaddphotook .yptianjia .ypaddphotookmain  a:active{text-decoration: none;}
.ypaddphotook .yptianjia .ypaddphotookmain .phobaocui{background:#3c8dbc;color:#fff;margin-bottom:20px; }
.ypaddphotook .yptianjia .ypaddphotookmain .phoquxiao{border:1px solid #ccc;background:#fff;color:#999;}
			.laiyuan{color:#999;}		
#filssa{position:absolute;background:red;height:124px;opacity:0;}
#filssa:focus{border:none;}
.ypaddphotook .yptianjia .ypaddphotookmain ul .filesb img{width:100%;height:100%;}









/*正在审核*/
.ypsetmain{width:400px;margin:0 auto;height:100px;text-align: center;}
.ypsetmain img{display: black;margin-top: 100px;}
.ypsetmain p{margin-top: 20px;font-size:16px;color:#999;}



/*浏览器差异与高度判断*/
.divClass1{height:850px;}
.divClass2{height:900px;}

@media screen and (min-width: 1000px) and (max-width: 1400px){
.ypnews .yptianjia
.xiugaissa .yptianjia

.divClass1{height:520px;}
.divClass2{height:570px;}

}