<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ydadmin/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/ydadmin/css/yunpu.css">

	<script type="text/javascript" src="__PUBLIC__/ydadmin/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="__PUBLIC__/ydadmin/js/index.js"></script>
	<title>Document</title>
</head>
<body style="min-height:520px;background:#ecf0f5;position:relative;">
	<div class="yprighset">

		<div class="ypsetmain">
			<img src="__PUBLIC__/ydadmin/images/shenhe.png">
			<p>恭喜您，您的云谱正在审核···</p>
			
		</div>
		
	</div>
</body>
</html>