<footer class="footer">
<style>
.pr a:hover{color: red}

</style>
    <div class="pr">
      <div class="prc">
        <foreach name="footer" item="v" key="k">
            <dl> 
              <dt>{$v[cat_name]}</dt>
              <foreach name="footerlist[$k]" item="v2">
              <?php if ($v['cat_id'] == $v2['cat_id']){?>
                  <?php if (!$v2['link']){?>
                  <dd><a target="_blank" href="http://www.yundi88.com/Article/detail/article_id/<?php echo $v2['article_id'];?>.html"><?php echo $v2['title']?></a></dd>
                  <?php }else{?>
                  <dd><a target="_blank" href="http://www.yundi88.com<?php echo $v2['link'];?>"><?php echo $v2['title']?></a></dd>
                  <?php }?>
              <?php }?>
              </foreach>
            </dl>
         </foreach>
      </div>
        
        <div class="Tphone">
        <h2>{$system.tel}</h2>
      <p>周一至周日 9:00-18:00</p>
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={$system.qq}&amp;site=qq&amp;menu=yes">QQ24小时在线客服</a>
        </div>
    </div><!-- 
     <h6>有情链接：<a href="#" target="_blank">百度</a>   <a href="#" target="_blank">  盛大在线</a></h6> -->
     <style>
    .btn_5{margin-left:10px;}
    .btn_6 a:hover{color: red;}
    </style>
         <h6 class="btn_6">友情链接：
         <foreach name="link" item="vv">
         <a href="{$vv.link_url}" target="_blank"> {$vv.link_name}</a>
         </foreach>
         </h6>
          <footer>{$system.banquan} 备案号:{$system.beianhao}</footer>
</footer>
<div class="top-back">
  <a class="top" href="javascript:;">︿</a>
  <a class="txt" href="javascript:;">回到顶部</a>
</div>
<script type="text/javascript">
  $(window).scroll(function () {
    if ($(window).scrollTop() > 600) {
      $('.top-back').show(300);
    }
    else
    {
      $('.top-back').hide(300);
    }
  });
  $(".top-back").click(function(){
    $('body,html').animate({scrollTop:0},600);
     return false;
  });
</script>