<!-- 统一底部-->
<footer class="footer">
<style>
.pr a:hover{color: red}
</style>
    <div class="pr">
      <div class="prc">
        <dl> 
              <dt>新手指南</dt>
                                <dd><a target="_blank" href="http://www.yundi88.com/Article/detail/article_id/26.html">关于云狄</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/User/regstore.html">免费注册</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/Article/detail/article_id/28.html">买家入门</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/Index/certification">认证信息</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/User/forget_pwd.html">找回密码</a></dd>
                              </dl><dl> 
              <dt>采购商城服务</dt>
                                <dd><a target="_blank" href="http://www.yundi88.com/goods/goodsList2.html">采购平台</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/info/index">企业商铺</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/article/yun_shop">云商会</a></dd>
                              </dl><dl> 
              <dt>供应商服务</dt>
                                <dd><a target="_blank" href="http://www.yundi88.com/info/index">供应信息</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/User/login.html ">供应管理</a></dd>
                              </dl><dl> 
              <dt>企业服务</dt>
                                <dd><a target="_blank" href="http://www.yundi88.com/index/zixun">广告服务</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/index/certification2">商城入驻</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/seller/index/index.html?nav=article">发布信息</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/seller/index/index.html?nav=articleclass">信息管理</a></dd>
                              </dl><dl> 
              <dt>安全交易</dt>
                                <dd><a target="_blank" href="http://www.yundi88.com/Article/detail/article_id/41.html">如何下单</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/Article/detail/article_id/42.html">如何付款</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/User/order_list">订单管理</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/Article/detail/article_id/44.html">交易保障</a></dd>
                                    <dd><a target="_blank" href="http://www.yundi88.com/Article/detail/article_id/45.html">如何评价</a></dd>
                              </dl>        </div>
        
        <div class="Tphone">
        <h2></h2>
      <p>周一至周日 9:00-18:00</p>
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3404902361&amp;site=qq&amp;menu=yes">QQ24小时在线客服</a>
        </div>
    </div>
     <style>
    .btn_5{margin-left:10px;}
    .btn_6 a:hover{color: red;}
    </style>
     <h6 class="btn_6">友情链接：
     <a href="http://www.ydwzjs.cn"       target="_blank"       > 云狄建站</a><a href="http://www.ydwzjs.cn"       target="_blank"       > 云狄免费建站</a><a href="http://www.ydwzjs.cn"       target="_blank"       > 免费建站</a>     </h6>
     <footer>云狄网络版权所有 备案号:粤ICP备16076354号</footer>
</footer>

<div class="top-back" style="display: none;">
	<a class="top" href="javascript:;">︿</a>
	<a class="txt" href="javascript:;">回到顶部</a>
</div>
<script type="text/javascript">
	$(window).scroll(function () {
		if ($(window).scrollTop() > 600) {
			$('.top-back').show(300);
		}
		else
		{
			$('.top-back').hide(300);
		}
	});
	$(".top-back").click(function(){
	  $('body,html').animate({scrollTop:0},600);
	   return false;
	});
</script>