<include file="Public/_meta" />
<!--_meta 作为公共模版分离出去-->
<body>
<!--_header 作为公共模版分离出去-->
<include file="Public/_header" />
<!--/_header 作为公共模版分离出去-->
<!--_menu 作为公共模版分离出去-->
<include file="Public/_menu" />
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><a href="javascript:;" class="maincolor"></a> 
		<span class="c-999 en"></span>
		<span class="c-666"></span> 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20" style="text-align: center;">
			云狄云谱后台
		</article>
<footer class="footer">
			<p>云狄网百科管理后台 <a href="http://www.yundi88.com">www.yundi88.com</a></p>
</footer>
</div>
</section>

<include file="Public/_footer" />

</script>
<!--/请在上方写此页面业务相关的脚本-->


</body>
</html>