<div class="y_bottom">
			<p>云狄网络版权所有</p>
			<p>粤ICP备16076354号</p>
		</div>
	</div>
	<!-- 底部导航 -->
	<div class="y_footer">
		<a href="http://www.yundi88.com">
			<img src="__PUBLIC__/mobile/img/y_footer_icon1.png">
			<span>云狄网</span>
		</a>
		<a href="index.html" class="foot_on">
			<img src="__PUBLIC__/mobile/img/y_footer_icon21.png">
			<span>企业云谱</span>
		</a>
		<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3404902361&amp;site=qq&amp;menu=yes">
			<img src="__PUBLIC__/mobile/img/y_footer_icon3.png">
			<span>服务咨询</span>
		</a>
		<a href="http://association.yundi88.com/Mobile/index">
			<img src="__PUBLIC__/mobile/img/y_footer_icon5.png">
			<span>云商会</span>
		</a>
	</div>
	<div class="backtop">
		<img src="__PUBLIC__/mobile/img/backtop2.png">
	</div>
</body>