	<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/public.css">
	<script type="text/javascript" src="__PUBLIC__/mobile/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/mobile/js/public.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="header">
			<a class="header_title">
				<img src="__PUBLIC__/mobile/img/y_logo.png">
				<span>企业云谱</span>
			</a>
			<a class="sort_search" href="search.html"><img src="__PUBLIC__/mobile/img/sort_search.png"></a>

	</div>
	