*{margin:0;padding:0;font-size:14px;font-family: '微软雅黑';}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
.cl{clear:both;}
img{outline: none;border: none;}
/*导航*/
header{width:100%;min-height:60px;position:relative;}
header .bzhuce{float:right;width: 9%}
header .bzhuce a{color:#333;font-size:12px;margin-right: 20px;line-height:20px;}
header .bheader{width:1200px;margin:0 auto;}
header .bheader a{display:inline-block;width:220px;float:left;}

header .bheader .bsearch{width:450px;height:33px;float:right;padding-top: 8px;position:relative;}
header .bheader .bsearch input{border:1px solid #337ab7;outline: none;padding-right:64px;padding-left: 10px;margin-top:1px;width:82%;height:100%;background:#fff;}
header .bheader .bsearch a{position:absolute;right:0;width:60px;}

header .navss{width:100%;height:40px;background:#008cba;margin-top: 30px;line-height: 40px;overflow:hidden;}
header .navss ul{width:1200px;margin:0 auto;}
header .navss ul li{width:120px;float:left;text-align: center;}
header .navss ul li:nth-child(1){background:#029fd3;}
header .navss ul li a{font-size:14px;color:#fff;font-weight:800;display: inline-block;width:100%;}
header .navss ul li:hover{background:#029fd3;}

/*主体部分*/

/* banner */
.main {position:relative;}
.main .banner{height:400px;overflow:hidden;}
.main .banner .d1{width:100%;height:400px;display:block;position:absolute;left:0px;top:0px;}
.main .banner .d2{width:100%;height:30px;clear:both;position:absolute;z-index:100;left:0px;top:360px;}
.main .banner .d2 ul{float:left;position:absolute;left:50%;top:0;margin:0 0 0 -26px;display:inline;}
.main .banner .d2 li{width:17px;height:15px;overflow:hidden;cursor:pointer;background:url(../images/img1.png) no-repeat center;float:left;margin:0 3px;display:inline;}
.main .banner .d2 li.nuw{background:url(../images/img1_1.png) no-repeat center;}

/*企业百科*/
.main .scene{width:1200px;margin:0 auto;position:relative;}
.main .scene .title{text-align: center;margin-top: 50px;margin-bottom: 30px;font-size:20px;color:#000;}

.main .scene .pic{float:left;width:335px;margin-right: 20px;overflow:hidden;text-align: center;}
.main .scene .pic img{height:190px;width:100%;}
.main .scene .pic .baikea{background:#f7f7f7;}
.main .scene .pic .baikea h4{display:inline-block;height:44px;overflow:hidden;text-align:left;padding-left:28px;padding-right: 28px;font-size:16px;color:#454545;padding-top: 14px;}
.main .scene .pic .baikea h4:hover{color:#008CBA;}
.main .scene .pic .baikea p{    display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;padding-left:28px;height:40px;overflow:hidden;padding-right:28px;text-align:left;font-size:14px;padding-top: 2px;margin-bottom: 20px;color:#999;}
.main .scene .pic a{display:inline-block;background:#f7f7f7;margin-bottom: 20px;}

.main .scene .LeftHandle{width:50px;float:left;background:#f0f;height:100px;position:absolute;top:46%;background:url(../images/base2.png) no-repeat;cursor:pointer;}
.main .scene .RightHandle{width:50px;float:right;background:#f0f;height:100px;position:absolute;top:46%;right:20px;background:url(../images/next1.png) no-repeat;cursor:pointer;}
.main .scene .LeftHandle:hover{background:url(../images/base1.png)no-repeat;}
.main .scene .RightHandle:hover{background:url(../images/next2.png)no-repeat;}


/*立即加入*/
.nowjoin{background:url(../images/lijijiaru.png)no-repeat center center;height:210px;width:100%;margin-top: 10px;}
.nowjoin .nowjoins{width:1200px;margin:0 auto;}
.nowjoin .nowjoins a{background:#3c8cfb;display:inline-block;text-align:center;width:180px;height:50px;line-height:50px;font-size:24px;color:#fff;float:right;margin-right: 140px;margin-top:80px;border-radius:10px;}
.nowjoin .nowjoins a:hover{background:#347de2;}

/*行业分类*/
.Industry{width:1200px;margin:0 auto;padding-bottom: 40px;border-bottom: 2px solid #d5d5d5;}
.Industry h3{text-align: center;font-size:20px;font-weight:500;font-family: '微软雅黑';height:60px;line-height: 60px;margin-top: 20px;}
.Industry dl{width:25%;float:left;}
.Industry dl dd{height:30px;line-height: 30px;}
.Industry dl dd a{font-size:14px;color:#666;}
.Industry dl dd a:hover{color:#f22e00;}

/*云狄百科介绍*/
.introduced{width:1200px;margin:0 auto;padding-bottom: 40px;}
.introduced .introducedl{width:50%;float:left;}
.introduced .introducedl h3{font-size:20px;font-weight:500;font-family: '微软雅黑';height:60px;line-height: 60px;margin-top: 10px;}
.introduced .introducedl p{color:#999;}
.introduced .introducedl a{color:#0066cc;}
.introduced .introducedl a:hover{color:#f22e00;}

.introduced .introducedr{width:50%;float:left;}
.introduced .introducedr h3{font-size:20px;font-weight:500;font-family: '微软雅黑';height:60px;line-height: 60px;margin-top: 10px;}
	

	.mx-bugs_bunny{width: 100%;max-width: 600px;}
	/*.ZI-slider{border: 4px solid #27425d;}*/
	.mx-bugs_info{position: absolute;display: block;max-width: 80%;padding: 10px;bottom: 40px;background-color: rgba(39, 66, 93, 0.9);}
	.mx-bugs_info a{font-family: 'Oswald', sans-serif;color: #fff;font-size: 18px;text-decoration: none;}
	.mx-navigation {margin: 4px;top: 100%;}
	.mx-prev, .mx-next{background-color: #27425d;}
	.mx-nav_dots{top: 88%;				}
	.mx-nav_dots span{margin: 0px 4px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;background-color: #b2b2b2;}
	.mx-nav_dots span.dotActive{background-color: #27425d;}

/*滚动图片*/
.img-scroll2 { position:relative; margin:20px auto; width:1200px;}
.img-scroll2 .prev2,.img-scroll2 .next2 { position:absolute; display:block; width:50px; height:100px; background-color:#000;top:0; color:#FFF; text-align:center; line-height:100px}
.prev2,.next2 { position:absolute; display:block; width:50px; height:100px;top:0; color:#FFF; text-align:center; line-height:100px}
.prev2{ left:0;cursor:pointer;position:absolute;top:50%;left:0;z-index:999;font-size:80px;overflow:hidden;}
 .next2 { right:0;cursor:pointer;position:absolute;z-index:999;right:0px;top:50%;font-size:80px;overflow:hidden;}
 .next2 img{position:absolute;left:-50px;top:20px;}
 .img-list2 { position:relative; width:1067px;  margin-left:63px; overflow:hidden}
 .img-list2 ul { width:9999px;position:relative;height:726px;}
 .img-list2 li{width:490px;float:left;margin-left:11px;margin-top: 50px;text-align: center;height:615px;padding:13px;background:#fff;border:1px solid #ccc;position:relative;}
 .img-list2 li img{width:100%;}
 .img-list2 li p{position:absolute;bottom:80px;background:rgba(255,255,255,.8);height:50px;line-height: 50px;padding-left: 10px;left:13px;padding-right: 10px;}
.img-list2 ul li:hover p{background:#16A4E4;transition:all 0.8s ease 0s;}
.img-list2 ul li:hover a{color:#fff;}


/*行业分类*/
.listhangye{width:1200px;height:30px;line-height: 30px;margin:10px auto;}
.listhangye1{color:#666666;margin-right: 10px;}
.listhangye2{color:#008cba;margin-right: 10px;}


/*行业轮播图*/
.bannermain{width:1200px;margin: 0 auto;}
	.bennerimg{width:300px;float:left;border:1px solid #ccc;height:300px;line-height:300px;text-align: center;overflow:hidden;}
	.bennerimg img{width:100%;vertical-align:middle;display: inline-block;}
	.bennertext{width:740px;margin-left: 20px;float:left;}
	.bennertext h3{font-size:18px;color:#000;font-weight: 200;}
	.bennertext p{color:#666666;font-size:14px;line-height: 24px;margin-top: 8px;margin-bottom: 8px;}
	.tongleimiaoshua{height:144px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 6;overflow: hidden;}
	.bannermain a{color:#0066cc;font-size:12px;}
	.bannermain a:hover{color:#eb4026;text-decoration: underline;}

/*同类商家*/
.listtonglei{width:1200px;margin:0 auto;}
.listtonglei h3{text-align: center;font-size:20px;font-weight:200;height:40px;line-height: 40px;margin-top: 30px;}
.listtonglei ul li{width:49%;float:right;overflow:hidden;margin-top: 10px;}
.listtonglei ul li .tongleimain{width:400px;float:left;margin-left: 15px;height:152px;overflow:hidden;}
.listtonglei ul li .tongleimain h3{font-size:16px;text-align: left;height:20px;line-height: 20px;margin:0;color:#000;}
.listtonglei ul li .tongleimain p{font-size:12px;color:#666;margin-top: 6px;margin-bottom: 6px;}
.listtonglei ul li .tongleimain a{color:#0066cc;font-size:12px;}
.listtonglei ul li .tongleimain a:hover{color:#eb4026;text-decoration: underline;}
.listtonglei ul li .tongleiimp{width:150px;height:150px;line-height:140px;float:left;border:1px solid #ccc;text-align: center;overflow:hidden;}
.listtonglei ul li .tongleiimp img{width:150px;display: inline-block;vertical-align:middle;}
.listtonglei ul li .tongleimain .tongleimiaoshu{height:50px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.listtonglei ul li .tongleimain .tongleizhuying{width:100%;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;}

/*企业详情*/
.detailstop{width:620px;margin:50px auto 20px;height:50px;text-align:right;}

.bannersss{width:1200px;margin:0 auto;}
.bannersss	.bannerl{width:850px;float:left;}
.bannersss	.bannerl .bannerl1{width:240px;float:left;height:500px;line-height:500px;text-align:center;vertical-align:middle;display: inline-block;}
.bannersss	.bannerl .bannerl1 img{display:inline-block;width:100%;}
.bannersss	.bannerl .bannerl2{width:580px;float:left;margin-top: 50px;margin-left: 30px;}
.bannersss	.bannerl .bannerl2 h3{color:#67b6d9;margin-bottom:2px;margin-top: 2px;font-weight:200;font-size:16px;}
.bannersss	.bannerl .bannerl2 p{color:#666;}
.bannersss	.bannerl .bannerl2 p a{color:#666;}
.bannersss	.bannerl .bannerl2 p a:hover{color:#f22e00;text-decoration: underline;}
.bannersss	.bannerl .bannerl2 .bannerl2p{width:100%;display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 6;overflow: hidden;}

.bannersss	.bannerr{width:312px;float:right;position:relative;}

.detailstop	.detailiuluan{padding-right: 10px;display:inline-block;height:20px;line-height:20px;}
.detailstop	.detailgood{height:20px;line-height:20px;display:inline-block;color:#999;margin-left:10px;padding-right:10px;display:inline-block;}
.detailstop	.detailgood img{margin-right: 10px;float:left;margin-top: 2px;cursor:pointer;}
.detailstop	.detaifengxiang{display:inline-block;float:right;width:97px;margin-left:10px;padding-top:4px;padding-bottom:4px;text-align:center;height:15px;line-height:15px;overflow:hidden;border:1px solid #ccc;border-radius:4px;}
.detailstop	.detaifengxiang a{margin-left: 1px;display:inline-block;}

.baikemain{width:1200px;margin:0 auto;min-height: 300px;position:relative;}
.baikemain .baikemainl{width:920px;float:left;}
.baikemain .baikemainl h3{font-size:18px;color:#000;height:30px;line-height: 30px;}
.baikemain .baikemainl p{text-indent: 30px;margin-top: 20px;margin-bottom: 20px;text-align: justify;color:#666;}
.baikemain .baikemainl h4{text-align: left;font-size:16px;color:#333;font-weight:200;}

.baikemainlfour1{width:660px;float:left;}
.baikemainlfour2{width:250px;float:left;text-align: right;}
.baikemainlfour2 img{width:220px;height:200px;}

.baikemainr{width:260px;float:left;height:500px;position:relative;}
.baikemainrm{width:260px;height:350px;background:url(../images/gundong.png) 0px 6px no-repeat;position:fixed;z-index: 22;top:20%;right:0;}
.baikemainrm1{width:260px;height:350px;background:url(../images/gundong2.png) 0px 6px no-repeat;position:fixed;z-index: 22;top:20%;right:0;}
.baikemainrm2{width:260px;height:350px;background:url(../images/gundong3.png) 0px 6px no-repeat;position:fixed;z-index: 22;top:20%;right:0;}
.baikemainrm3{width:260px;height:350px;background:url(../images/gundong4.png) 0px 6px no-repeat;position:fixed;z-index: 22;top:20%;right:0;}
.baikemainrm4{width:260px;height:350px;background:url(../images/gundong5.png) 0px 6px no-repeat;position:fixed;z-index: 22;top:20%;right:0;}
.baikemainrm5{width:260px;height:350px;background:url(../images/gundong6.png) 0px 6px no-repeat;position:fixed;z-index: 22;top:20%;right:0;}
.baikemainrm6{width:260px;height:350px;background:url(../images/gundong7.png) 0px 6px no-repeat;position:fixed;z-index: 22;top:20%;right:0;}

.baikemainlfour2 a img{border:2px solid #fff;}
.baikemainlfour2 a img:hover{border:2px solid #038fb0;}

#baikemainlsex a{color:#0066cc;}	
#baikemainlsex a:hover{color:#ec350d;text-decoration: underline;}			
#baikemainlsenve p{color:#999;}
#baikemainlsenve a{color:#333;font-size:14px;}
#baikemainlsenve a:hover{color:#1188b2;}

#boxss a{padding-left:30px;display:block;color:#333;height:50px;}

/*图片查看*/

.imgheader{background:#008cba;min-height:30px;padding:0;margin:0;color:#fff;}
.imgheader img{height:20px;margin-top: 6px;margin-left:10px;border-right: 1px solid #ccc;padding-right: 10px;}
.imgheader  a{color:#fff;height:30px;line-height: 30px;padding:0;float:left;margin:0;margin-left: 10px;padding-right: 10px;font-size:14px;}


.seeimg{width:1200px;margin: 0 auto;}
.seeimg .seeimgl{}

		

/*返回顶部*/
.top-back{display: none;position: fixed;right: 20px;bottom: 100px; width: 50px;height: 50px;background:#008cba;overflow: hidden;z-index: 30;}
.top-back a{display: block;width: 50px;height: 50px;text-align: center;color: #ffffff !important;}
.top-back .top{font-size: 20px;font-weight: bolder;line-height: 42px;}
.top-back .txt{text-decoration: none;width: 40px;height: 40px;padding: 5px;font-size: 14px;}
.top-back .hide{display: none;}
.top-back:hover .top{display: none;}
.top-back:hover .txt{display: block;}


/*底部*/
.footer{ width:100%;background:#f3f3f3; margin-top:60px; padding-top:50px;}
.footer .pr{ width:1200px; height:210px; margin:0 auto; border-bottom:1px solid #c7c7c7;text-align: center;padding-bottom: 30px;}
.footer .pr .prc{ display:inline-block;*display:inline;*zoom:1;overflow: hidden;height: 210px;float:left;}

.footer .pr .Tphone{float:left;width:300px;border-left: 1px solid #ccc;height:150px;margin-left: 80px;padding-left: 20px;margin-top:20px;padding-top: 35px;}
.footer .pr .Tphone h2{font-weight: 500;color:#f92246;font-size:18px;}						
.footer .pr .Tphone a{display:inline-block;width:150px;height:30px;border-radius:5px;line-height: 30px;border:1px solid #f92246;color:#f92246;margin-top: 10px;}
.footer .pr .Tphone a:hover{color:#fff;background:#f92246;}

.footer dl{ width: 150px; height:210px; float:left;}
.footer dl dt{ height:60px; font-size:15px; line-height:60px;}
.footer dl dd{ line-height:25px;}
.footer dl dd a{ color:#757575;}
.footer .pr .right{ float:right; height:120px; width:259px;text-align:center;  margin-top:35px; border-left:1px solid #c7c7c7;}
.footer .pr .right h1{ font-size:20px; text-align:center; color:#008cba;}
.footer .pr .right p{ line-height:40px; font-size:12px; color:#757575;}
.footer .pr .right .kf{ width:120px; height:30px; border:1px solid #008cba; color:#008cba; line-height:30px; font-size:12px; margin:0 auto; border-radius:5px;}
.footer h6{ width:1200px; line-height:45px;font-weight:normal; margin:0 auto; text-align:left; font-size:12px;}
.footer h6 a{ color:#757575;}

.footer footer{/*  margin:50px auto; */ font-size:14px; line-height:30px; text-align:center;background: none;padding-bottom: 20px;}

