/** Stage container **/

.connected-carousels .stage {
    width: 620px;
    margin-top: 120px;
    /*position: relative;*/
    float:left;
    margin-left: 15%;

    /*margin-bottom: 150px;*/
}

.connected-carousels .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.connected-carousels .photo-credits a {
    color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
    width: 200px;
   /* margin: 20px auto;*/
   margin-right: 70px;
   margin-bottom: 50px;
    position: relative;
    float:right;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    height: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
    width:92px;
    height:60px;
    line-height: 60px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.connected-carousels .carousel li img{
    width:100%;
    height:auto;
    display: inline-block;
    /*display:table-cell;*/
    text-align:center;
    vertical-align:middle;

}

.connected-carousels .carousel-stage {
    height: 400px;
}
.connected-carousels .carousel-stage ul li{
    /*padding-bottom: 100px;*/
    /*float:left;*/
    width:600px;
    height:400px;
    line-height: 400px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

.connected-carousels .carousel-stage ul li img{
   width:100%;
    line-height: 470px;
   /*display:table-cell;*/
    text-align:center;
    vertical-align:middle;
   display: inline-block;
    margin-top: 50px;
}


.connected-carousels .carousel-stage ul li:nth-last-child(1){
    padding: 0;
    height:400px;
}

.connected-carousels .carousel-stage ul li span{
    /*position:relative;
    left:50%;
    top:450px;*/
    /*bottom:0;*/
    display: inline-block;
    width:100%;
    margin:100px  auto 30px;
    text-align: center;
    /*padding-bottom: 100px;*/
}


.connected-carousels .carousel-navigation {
    height: 370px;
    width: 95px;
    background: #fff;
    margin-top: 160px;
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
}
.connected-carousels .carousel-navigation li span{
    display:none;
}

.connected-carousels .carousel-navigation li{
    display: block;
    border: 2px solid #fff;
}

.connected-carousels .carousel-navigation .active{
    border-color: #008cba;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 30px;
    color: #fff;
    z-index: 99;
}

.connected-carousels .prev-stage {
    right: 174px;
    top: 88px;
}

.connected-carousels .next-stage {
    right: 173px;
    top:568px;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    /*display: none;*/
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    /*display: none;*/
    position: absolute;
    top: 50%;
    width: 100px;
    height: 30px;
    text-align: center;
    background: #eeeeee;
    color: #bababa;
    text-decoration: none;
    /*text-shadow: 0 0 1px #000;*/
    font: 24px/27px Arial, sans-serif;
 /*   -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
}
.connected-carousels .prev-stage span:hover{
    background:#d4d4d4;
}
.connected-carousels .next-stage span:hover{
    background:#d4d4d4;
}

.connected-carousels .prev-stage span {
    left: 0px;
    top:0px;
     font-size:14px;text-align: center;line-height: 30px;
}

.connected-carousels .next-stage span {
    right: 0;
    top:0;
    font-size:14px;text-align: center;line-height: 30px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 100px;
    height: 30px;
    background: #eeeeee;
    color: #bababa;
    text-decoration: none;
    /*text-shadow: 0 0 1px #000;*/
    font: 16px/29px Arial, sans-serif;
   /* -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;*/
}

.connected-carousels .prev-navigation {
    left: -3px;
    text-align: center;
    font-size:42px;    
    top: 125px;
    /*text-indent: 6px;*/
}
.connected-carousels .prev-navigation:hover{
    background:#d4d4d4;
}
.connected-carousels .prev-navigation span{
    transform:rotate(90deg); 
     -ms-transform:rotate(90deg); 
     display: inline-block;
     font-size:40px;
}

.connected-carousels .next-navigation{
    right: 103px;
    bottom: -34px;
     text-align: center;
     font-size:40px;
    /*text-indent: 20px;*/
}
.connected-carousels .next-navigation:hover{
background:#d4d4d4;
}

.connected-carousels .next-navigation span{
    transform:rotate(90deg); 
     -ms-transform:rotate(90deg); 
     display: inline-block;
     font-size:40px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}

.pagess{position:absolute;color:#000;z-index: 999;display:block;left:200px;top:500px;}